<div class="align-center col-8 offset d-flex">  
    <form  action="" class="p-2"><button class="btn btn-secondary">All Tasks</button></form>
    <form  action="" class="p-2"><button class="btn btn-secondary">Pending Tasks</button></form>
    <form  action="" class="p-2"><button class="btn btn-secondary">Completed Tasks</button></form>
    <form hx-post="{% url 'create-task' %}" hx-target="#tasks-list" class="p-2">
        {% csrf_token %}
        <button class="btn btn-secondary">Create Task</button>
    </form>
</div>