{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="align-center col-8 offset-2">
    <p class="lead mb-3 ml-0" style="font-size:2.5rem;">Register</p>
    <hr>
    <form method="POST" target="{% url 'register' %}" autocomplete="off" class="">
        {% csrf_token %}
        <div class="form-group mb-3">
            <label class="form-label">{{form.username.label_tag}}</label>
            {% render_field form.username class="form-control"%}
            <label class="form-label">{{form.password1.label_tag}}</label>
            {% render_field form.password1 class="form-control"%}
            <label class="form-label">{{form.password2.label_tag}}</label>
            {% render_field form.password2 class="form-control"%}
        </div>
        <button type="submit" class="btn btn-success"">Register</button>
    </form>
</div>
{% endblock content %}